.container{
  margin-left: 55px;
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.card{
  /* display: inline-block; */
  box-sizing: border-box;
  /* position: relative; */ /* Commented out in the original code */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  max-height: 550px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.grl {
  width: 240px;
  height: 200px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}nav{
  margin-left:-8px;
  
}
nav,ul{
  display:flex;
  gap: 20px;
  padding:5px 3px;
  background-color: gray;
  color: white;
  width:222vh;
  /* margin-right:0px; */
  /* margin-left:0px; */
  margin-bottom:8px;
}
li{
  list-style: none;
  margin-left: 100px;
}